{% extends 'base.html' %}

{% block main %}

{% for txt in txts %}
<article class="">
    <header class="entry-header">
        <h6 class="entry-title">
<!--            <a href="/legalfiles/detail/{{t.txt_id}}" target="_blank">{{ t.title }}</a>-->
            <a href="{{ txt.get_absolute_url }}" target="_blank">{{ txt.title }}</a>
        </h6>
    </header>
    <div class="entry-content clearfix">
        <p>{{ txt.content|truncatechars:154 }}</p>
        <div class="read-more cl-effect-14">

        </div>
    </div>
</article>
{% endfor %}
 <div class="pagination">
        <ul>
            {% if not is_paginated %}
                <a href="?page=1">首页</a>
                <a href="?page=1" style="color: red">1</a>
                <a href="?page=1">尾页</a>
            {% endif %}
            {% if is_paginated %}
                <a href="?page=1">首页</a>
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
                {% endif %}
                {% if first %}
                    <li><a href="?page=1">1</a></li>
                {% endif %}
                {% if left %}
                    {% if left_has_more %}
                        <li><span>...</span></li>
                    {% endif %}
                    {% for i in left %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endfor %}
                {% endif %}
                <li class="current"><a href="?page={{ page_obj.number }}" style="color: red">{{ page_obj.number }}</a></li>
                {% if right %}
                    {% for i in right %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endfor %}
                    {% if right_has_more %}
                        <li><span>...</span></li>
                    {% endif %}
                {% endif %}
                {% if last %}
                    <li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">下一页</a>
                {% endif %}
                <a href="?page={{ paginator.num_pages }}">尾页</a>
            {% endif %}
        </ul>
 </div>

{% endblock main %}