{% extends 'base.html' %}
{% load highlight %}

{% block main %}
{% if query %}
{% for result in page.object_list %}
<article class="">
    <header class="entry-header">
        <h1 class="entry-title">
            <a href="/legalfiles/detail/{{t.txt_id}}">{% highlight result.object.title with query %}</a>
        </h1>
    </header>
    <div class="entry-content clearfix">

        <p>摘要：{% highlight result.object.body with query %}</p>
        <div class="read-more cl-effect-14">

        </div>
    </div>
</article>
{% empty %}
<div class="no-post">没有搜索到你想要的结果！</div>
{% endfor %}

{% else %}
请输入搜索关键词，例如 django
{% endif %}
{% endblock main %}